body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #6A4B2F; /* Darker Minecraft dirt color */
    color: #ffffff;
}

header {
    background: #5A7A1B; /* Darker Minecraft grass color */
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

h1 {
    margin: 0;
    font-size: 24px;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #4A2F1E; /* Darker brown color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); /* Harder shadow */
    border-radius: 8px;
}

label[for="version-select"] {
    display: inline-block;
    margin-bottom: 10px;
    padding: 0;
    font-size: 16px;
    line-height: 1;
    font-weight: bold;
}

#file-structure label {
  display: inline-block;
  margin-bottom: 10px;
  padding: 0;
  font-size: 16px;
  line-height: 1;
}

select, input[type="checkbox"] {
    margin-right: 10px;
    font-size: 16px;
}

select {
    background-color: #3A2415; /* Darker matching brown color */
    color: #ffffff; /* Text color */
    border: 1px solid #2E1A10; /* Darker border */
    border-radius: 4px;
    padding: 5px;
}

#compatibility-text {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    color: #ffffff; /* Text color */
    background: #3A2415; /* Darker matching brown color */
    border: 1px solid #2E1A10; /* Darker border */
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
    background: #2E2E2E; /* Minecraft bedrock color */
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
}

footer p {
    margin: 5px 0;
}

footer a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}

button#generate-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #2E8B57; /* Dark green color */
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button#generate-button:hover {
    background-color: #276746; /* Darker green on hover */
}