body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #6A4B2F;
    color: #ffffff;
}

header {
    background: #4f6b18;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

h1 {
    margin: 0;
    font-size: 24px;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #4A2F1E;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    border-radius: 8px;
}

label[for="datapack-name"],
label[for="version-select"],
label[for="datapack-description"],
label[for="datapack-photo"] {
    display: inline-block;
    margin: 10px 0;
    padding: 0;
    font-size: 16px;
    line-height: 1;
    font-weight: bold;
}

#datapack-name,
#datapack-description {
    width: calc(100% - 22px); /* Adjust width to match compatibility-text */
    padding: 10px;
    margin: 4px 0 10px 0;
    font-size: 16px;
    border: 1px solid #2E1A10;
    border-radius: 4px;
    background-color: #3A2415;
    color: #ffffff;
}

#datapack-description {
    resize: vertical;
}

#datapack-photo {
    width: calc(100% - 22px); /* Adjust width to match compatibility-text */
    padding: 10px;
    margin: 4px 0 0 0;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #2E1A10;
    border-radius: 4px;
    background-color: #3A2415;
    color: #ffffff;
}

#file-structure label {
    display: inline-block;
    margin-bottom: 10px;
    padding: 0;
    font-size: 16px;
    line-height: 1;
}

select, input[type="checkbox"] {
    margin-right: 16px;
    font-size: 16px;
}

select {
    background-color: #3A2415;
    color: #ffffff;
    border: 1px solid #2E1A10;
    border-radius: 4px;
    padding: 5px;
}

#compatibility-text {
    margin: 4px 0 10px 0;
    padding: 10px;
    font-size: 16px;
    color: #ffffff;
    background: #3A2415;
    border: 1px solid #2E1A10;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
    background: #2E2E2E;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
}

footer p {
    margin: 5px 0;
}

footer a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}

button#generate-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4f6b18;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin: 16px 0 0 0;
}

button#generate-button:hover {
    background-color: #276746;
}

.yellow-text {
    color: #fdfd96; /* Yellow color */
}

.info-btn {
    background-color: #222222; /* Dark blue color */
    color: #ffffff;
    border: 1px solid #1a1a1a; /* Black outline */
    border-radius: 50%;
    cursor: pointer;
    font-size: 12px;
    margin-left: 4px;
    padding: 4px 8px;
    text-align: center;
    line-height: 1;
}

.info-text {
    display: none;
    margin-top: 5px;
    padding: 10px;
    background-color: #3A2415;
    border: 1px solid #2E1A10;
    border-radius: 4px;
    color: #ffffff;
}